@font-face {
    font-family: 'Days One';
    src: url('DaysOne-Regular.eot');
    src: local('Days One'), local('DaysOne-Regular'),
        url('../fonts/DaysOne/DaysOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DaysOne/DaysOne-Regular.woff2') format('woff2'),
        url('../fonts/DaysOne/DaysOne-Regular.woff') format('woff'),
        url('../fonts/DaysOne/DaysOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

